@{
    ViewBag.Title = "Giới thiệu";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Chúng tôi cung cấp những skin tuyệt vời cho bạn!</h3>

    <p>Chào mừng đến với cửa hàng Skin League of Legends, nơi bạn có thể tìm thấy những skin đẹp nhất cho các tướng yêu thích của mình. Chúng tôi cam kết mang đến cho bạn trải nghiệm mua sắm tốt nhất với các sản phẩm chất lượng và dịch vụ khách hàng tuyệt vời.</p>

    <p>Sứ mệnh của chúng tôi là mang đến cho người chơi League of Legends những skin độc đáo, giúp họ thể hiện phong cách cá nhân trong trận đấu. Với sự đa dạng về mẫu mã và tính năng, bạn sẽ tìm thấy những lựa chọn phù hợp nhất cho mình.</p>

    <p>Hãy tham gia cùng chúng tôi và khám phá bộ sưu tập skin phong phú, cùng nhiều ưu đãi hấp dẫn đang chờ đón bạn!</p>
</main>
