@{
    ViewBag.Title = "Liên hệ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Chúng tôi luôn sẵn sàng hỗ trợ bạn!</h3>

    <address>
        Cửa hàng Skin League of Legends<br />
        Số 123, Đường Game, Hà Nội, Việt Nam<br />
        <abbr title="Phone">Điện thoại:</abbr>
        0123.456.789
    </address>

    <address>
        <strong>Hỗ trợ khách hàng:</strong> <a href="mailto:minhngo1409@gmail.com">support@lolskins.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:minhngo1409@gmail.com">marketing@lolskins.com</a>
    </address>
</main>
