@{
    ViewBag.Title = "Trang chủ - Bán Skin League of Legends";
}

<main>
    <section class="row" aria-labelledby="gameTitle">
        <h1 id="title">Chào mừng đến với cửa hàng Skin League of Legends</h1>
        <p class="lead">Mua sắm những skin đẹp nhất cho tướng yêu thích của bạn!</p>
        <p><a href="https://leagueoflegends.com" class="btn btn-primary btn-md">Khám phá ngay &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="popularSkinsTitle">
            <h2 id="popularSkinsTitle">Skin phổ biến</h2>
            <p>
                Khám phá các skin phổ biến nhất trong League of Legends và thêm chúng vào bộ sưu tập của bạn.
            </p>
            <p><a class="btn btn-outline-dark" href="https://leagueoflegends.com/skins">Xem thêm &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="newArrivalsTitle">
            <h2 id="newArrivalsTitle">Sản phẩm mới</h2>
            <p>Đừng bỏ lỡ các skin mới nhất và các ưu đãi đặc biệt từ cửa hàng của chúng tôi.</p>
            <p><a class="btn btn-outline-dark" href="https://leagueoflegends.com/new-skins">Khám phá ngay &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="discountsTitle">
            <h2 id="discountsTitle">Ưu đãi đặc biệt</h2>
            <p>Các ưu đãi hấp dẫn đang chờ bạn! Nhanh tay để sở hữu các skin với giá ưu đãi.</p>
            <p><a class="btn btn-outline-dark" href="https://leagueoflegends.com/special-offers">Xem ưu đãi &raquo;</a></p>
        </section>
    </div>
</main>
